{"algorithm":"bayes",
 "spec":{
        'retryAssignLimit': 1,
        'objective': "maximize",
        'metric':'val'
    },
 "parameters":{
        'x':{
            "type": "float",
            "scalingType":"uniform",
            "min":0.0,
            "max":1.0
        },
        'y':{
            "type": "float",
            "scalingType":"uniform",
            "min":0.0,
            "max":1.0
        }
    },
 "name":"Franke Function Optimizer"
}
